{% extends "base.html" %}

{% block content %}
	{% if user %}
		{{post.render(user.key().id()) | safe}}
		<br><br>
	{% else %}
		{{ post.render(None) | safe }}
	{% endif %}
  
  {% for c in comments %}
		{{ c.content }}
		{% if user %}
			<a href="/blog/{{post.key().id()}}/{{c.user_id}}/{{ c.key().id() }}/deletecomment">Delete</a>
			<a href="/blog/{{post.key().id()}}/{{c.user_id}}/{{ c.key().id() }}/editcomment">Edit</a>
		{% endif %}

		<br><br>
	{% endfor %}

	{% if user %}
		<a href="/blog/{{post.key().id()}}/{{user.key().id()}}/addcomment">Add Comment</a>
	{% endif %}
  
{% endblock %}

